<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}" xml:lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}"><head>{{ partial "head.html" . }}
 </head>
 <body id="page-top" class="index">
{{ partial "nav.html" . }}
{{ partial "hero.html" . }}
{{ partial "services.html" . }}
{{ partial "portfolio.html" . }}
{{ partial "about.html" . }}
{{ partial "team.html" . }}
{{ partial "clients.html" . }}
{{ partial "contact.html" . }}
{{ partial "footer.html" . }}
{{ partial "modals.html" . }}
{{ partial "js.html" . }}
 </body>
</html>
